body{
    background: #CCCCCC;
}
.titulo-barbearia{
    text-align: center;
    height: 150px;
    border: 10px solid #000000;
    padding-top: 20px;
    margin-left: 15px;
}
#banner{
    width: 100%;
}
.titulo-h2{
    text-align: center;
}
.lista-beneficios{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.principal{
    background: #CCCCCC;
    padding: 30px;
}
.beneficios{
    background: #FFFFFF;
    padding: 20px;
}
.itens{
    font-style: italic;
}
